* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.props {
    background-color: antiquewhite;
    margin: 20px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}